on:
  push:
  pull_request:
    branches:
      - main

name: "Build"

jobs:
  build-cmake:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
        - { name: Ubuntu32,  os: ubuntu-20.04, env: "CFLAGS=-m32" }
        - { name: Ubuntu,    os: ubuntu-20.04 }
        - { name: Windows32, os: windows-2019, param: "-A Win32" }
        - { name: Windows,   os: windows-2019 }
        - { name: MacOS11,   os: macos-11 }
        - { name: MacOS12,   os: macos-12 }

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Install Dependencies (Linux)"
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib libsdl2-dev

      - name: "Install Dependencies (OSX)"
        if: ${{ runner.os == 'macOS' }}
        run: |
          HOMEBREW_NO_AUTO_UPDATE=1 brew install sdl2

      - name: "Install Dependencies (Windows)"
        if: ${{ runner.os == 'Windows' }}
        run: choco install zip

      - name: "Compile"
        run: |
          mkdir build
          cd build
          ${{ matrix.platform.env }} cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=install ${{ matrix.platform.param }}
          cmake --build .
          cmake --install .

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.platform.os }}
          path: build/install/*
